<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Número de pàgines</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        En aquest camp haurà d'indicar el número de pàgines que tindrà la seva pàgina Web.
        <br>
        Mínim 1 pàgina.
        <br>
        Màxim 20 pàgines.
      </div>
    </div>
  </div>
</div>
<button class="btn border-white" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
  <i class="fa-solid fa-circle-info"></i>
</button>
