<div class="container border p-3 rounded-3 shadow">
  <form class="form-group" [formGroup]="myForm" (keyup)="onSubmit()" (click)="onSubmit()">
    <div class="row align-items-center p-1">
      <div class="col-12 col-md-6 m-">
        <label class="form-label">Número de pàgines:</label>
      </div>
      <div class="col-10 col-md-6 d-flex">
        <button class="btn btn-danger mx-1 fw-bolder" (click)="decraseValue('page')">-</button> <input type="number" class="form-control"
          formControlName="page" min="1" max="20"><button class="btn btn-success mx-1 fw-bolder" (click)="increaseValue('page')">+</button>
      </div>
    </div>

    <div class="row align-items-center p-1">
      <div class="col-12 col-md-6">
        <label class="form-label">Número d'idiomes:</label>
      </div>
      <div class="col-12 col-md-6 d-flex">
        <button class="btn btn-danger mx-1 fw-bolder" (click)="decraseValue('lenguage')" >-</button><input type="number" class="form-control"
          formControlName="lenguage" min="1" max="20"><button class="btn btn-success mx-1 fw-bolder" (click)="increaseValue('lenguage')">+</button>
      </div>
    </div>
  </form>
</div>
