<!-- Calculadora -->
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="border  shadow rounded rounder-5 p-5 bg-danger-subtle row col-12">
    <div class="d-flex flex-column  justify-content-center align-items-center col-12 col-md-6">
      <h4 class="text-center">Quins serveis vols??</h4>
      <br>
      <div>
        <ul class="list-group shadow">
          <li *ngFor="let priceOfService of priceOfServices.priceOfServices; let i = index" class="list-group-item">
            <input type="checkbox" (click)="addPrice(priceOfService.price, priceOfService)"
            (click)="selectedWebService(priceOfService)" class="form-check-input"
            [checked]="isSelected(priceOfService.name)"
            (change)="toggleSelection(priceOfService.name)">
              {{priceOfService.name}}
            ({{priceOfService.price}} €)
            <div *ngIf="i===0 && showPanell">
              <app-home-panell class="container"></app-home-panell>
            </div>
          </li>
        </ul>
        <br>
        <div class="d-flex justify-content-center align-items-center">
          <p>Preu: {{totalBudgetPrice}} €</p>
        </div>
        <!-- inputs de nom pressupost i client -->
        <app-home-save-form *ngIf="!showButtonForBack" [selectionServices]="selectionServices"></app-home-save-form>
      </div>
    </div>

    <!-- Llista de pressupost -->
    <div class="d-flex flex-column align-items-center col-md-6 mt-3 mt-md-0">
      <h4 class="text-center">Llista de pressupost</h4>
      <br>
      <app-home-budget-list-table ></app-home-budget-list-table>
    </div>
    <div>
      <hr *ngIf="showButtonForBack">
      <!-- Botó per tornar a la pàgina welcome -->
      <div class="d-flex justify-content-center" *ngIf="showButtonForBack">
        <button class="btn bg-warning-subtle" routerLink="/welcome">Tornar enrere</button>
      </div>
    </div>

  </div>
