<div class="d-flex flex-column vh-100 justify-content-center align-items-center">
  <h4>Quins serveis vols??</h4>
  <br>
  <div>
    <ul class="list-group">
      <li *ngFor="let priceOfService of priceOfServices.priceOfServices; let i = index" class="list-group-item"><input type="checkbox" (click)="addPrice(priceOfService.price, priceOfService)" (click)="selectedService(priceOfService)" class="form-check-input">
        {{priceOfService.name}} ({{priceOfService.price}} €)
        <div *ngIf="i===0 && showPanell">
          <app-home-panell class="container"></app-home-panell>
        </div>
      </li>
    </ul>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <p>Preu: {{totalBudgetPrice}} €</p>
    </div>
  </div>

